Package: com.tylercalderone.activatordemo
Name: ActivatorDemo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tyler Calderone
Author: Tyler Calderone
Section: Tweaks
